.login-btn {
  display: flex;
  justify-content: flex-end;
  margin: 50px;
  cursor: pointer;
}

.nav-logo {
  display: flex;
  justify-content: center;
}

.nav-area {
  display: flex;
  justify-content: center;
}

.nav-area-menu {
  display: flex;
  list-style-type: none;
  padding: 20px;
}

.nav-area-menu li {
  text-decoration: none;
  color: black;
  margin-left: 20px;

}

.nav-area-search {
  border-bottom: 1px solid black;
  position: absolute;
  right: 20px;
  padding: 5px;
}

.nav-searchTxt {
  border: white;
}

.nav-searchTxt:focus {
  outline: none
}

.product:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.loginPage {
  display: flex;
  justify-content: center;
}

.loginInfo input{
  width: 40em;
}